# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [13]:
import pandas as pd

### Step 2. Create a data dictionary

In [14]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon

In [15]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [16]:
pokemon = [['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [17]:
pokemon['place'] = ['park','street','lake','forest']
pokemon

TypeError: list indices must be integers or slices, not str

### Step 6. Present the type of each column

In [20]:
pokemon.dtypes

AttributeError: 'list' object has no attribute 'dtypes'

### BONUS: Create your own question and answer it.